<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
	<body>
		<header th:fragment="header">
			<div class="container">
				<nav class="navbar navbar-expand-lg navbar-light bg-light">
					<a class="navbar-brand" href="/homepage">Kemal Abdić</a>
					<button aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"
					        class="navbar-toggler" data-target="#navbarSupportedContent"
					        data-toggle="collapse" type="button">
						<span class="navbar-toggler-icon"></span>
					</button>

					<div class="collapse navbar-collapse" id="navbarSupportedContent">
						<ul class="navbar-nav mr-auto">
							<li class="nav-item">
								<a class="nav-link" href="/homepage">Homepage</a>
							</li>
							<li class="nav-item">
								<a class="nav-link" href="https://github.com/KemalAbdic" target="_blank">GitHub</a>
							</li>
							<li class="nav-item">
								<a class="nav-link" href="https://www.linkedin.com/in/kemal-abdic/"
								   target="_blank">LinkedIn</a>
							</li>
							<li class="nav-item">
								<a class="nav-link" href="https://stackoverflow.com/users/11900553/kemal-abdic"
								   target="_blank">StackOverflow</a>
							</li>
						</ul>
					</div>
				</nav>
			</div>
		</header>
	</body>
</html>