<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/head :: head}"></head>
<body>
<header th:replace="~{fragments/header :: header}"></header>
<main role="main">
    <div class="container text-center">
        <h1>Contact</h1>
        <hr/>
        <p><strong>Kemal Abdić</strong><br/>Ulica Jukićeva<br/>71000 Sarajevo<br/>Bosnia and Herzegovina</p>
        <p><strong>Phone:</strong> +387 xx xxx/xxx<br/><strong>E-Mail:</strong> kemal(at)nesto(dot)com</p>
    </div>
</main>
<footer th:replace="~{fragments/footer :: footer}"></footer>
</body>
</html>
